.gradle/
.idea/
.tmp/
/build

Demo_Soure_Code/caches/

Demo_Soure_Code/wrapper/dists/

Demo_Soure_Code/daemon/7.3.3/daemon-19540.out.log

Demo_Soure_Code/daemon/7.3.3/registry.bin

Demo_Soure_Code/daemon/7.3.3/registry.bin.lock

Demo_Soure_Code/daemon/7.3.3/daemon-24452.out.log

Demo_Soure_Code/daemon/7.3.3/daemon-6628.out.log

Demo_Soure_Code/daemon/7.3.3/daemon-29708.out.log

Demo_Soure_Code/daemon/7.3.3/daemon-27896.out.log
